<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title style='position:relative;left:80px; top:2px' >CATEGORY ERROR</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
  .nav-link{
    color:black
    }
  </style>
</head>
<body style="background-color: lightblue;">
  <div style='border:2px solid black;background-color: skyblue;' class="d-flex justify-content-end">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/admin/home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">LOGOUT</a>
      </li>
    </ul>
  </div>
  <div class="container" style='position:relative;top:100px;width:75%;text-align: center;'>
    <br>
    <br>
    <h1 style="color:BLACK">{{ cat.category_name|upper}} HAS BEEN ALREADY BOUGHT BY SOME USERS.CANNOT BE DELETED</h1>
  </div>    
</body>
</html>