<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title style='position:relative;left:80px; top:2px' >Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
    .button {
  background-color: slategrey;
  border: none;
  color: white;
  padding: 79px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.button5 {border-radius: 100%;}
.nav-link{
  color:black
}
  </style>
</head>
<body style="background-color:lightsteelblue ;">
  <div style='border:2px solid black;background-color: skyblue;' class="d-flex justify-content-between">
    <div style="justify-content:flex-start">
      <h1 style="display:inline-block;font-size: 30px;">ADMIN DASHBOARD</p>
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/logout">LOGOUT</a>
      </li>
    </ul>
  </div>
  <div style="margin-top:200px;position:relative;left:600px">
    <h2> NO PRODUCT OR CATEGORIES AVAILABLE</h2>
  </div>
  <div style="position:relative;left:796px;top:70px">
    <a href="/admin/category">
    <button class="button button5">ADD CATEGORY + </button>
    </a>
  </div>
</body>
</html>